
<template>
    <div class="document">
        <DocumentInfo
                :users="document.users"
                :documentName="document.name"
                @save="save" @print="print"
                @documentNameChanged="updateDocumentName"></DocumentInfo>
        <Toolbar @print="print"
                 @bold="insertBold"
                 @italic="insertItalic"
                 @strike="insertStrikethrough"
                 @list="insertList"
                 @table="insertTable"
                 @code="insertCode">
        </Toolbar>
        <div class="editor-wrapper uk-flex">
            <TableOfContents :text="document.text" @jumpTo="jumpTo"></TableOfContents>
            <div class = "editor">
                <textarea id="editor" ref="text" :value="document.text"
                          @input="textChange($event.target.value)"></textarea>
            </div>
            <Markdown :text="document.text" id="print"></Markdown>
        </div>
    </div>
</template>

<script>
    import RandomEmoji from 'node-emoji';
    import Sentencer from 'sentencer';
    import Markdown from '../components/Markdown';
    import Toolbar from '../components/Toolbar';
    import DocumentInfo from "../components/DocumentInfo";
    import TableOfContents from '../components/TableOfContents'
    import { UserConnectionRequest, User, UpdateDocumentRequest, TextChangedRequest } from "../user_connection_pb";
    import { UserConnectionClient } from "../user_connection_grpc_web_pb";
    import { server } from "../env_variables";


    export default {
        name: "Document",
        props: {},
        components: {
            DocumentInfo,
            Markdown,
            Toolbar,
            TableOfContents
        },
        data: () => {
            return {
                document: {
                    name: "",
                    text: "hansi",
                    currentUser: {},
                    users: [
                    ]
                },
                roomID: "empty-link"
            }
        },
        created: function () {
            this.roomID = this.$route.params.id;
            this.client = new UserConnectionClient(server.address + ":" + server.port, null, null);
            this.init();
        },
        methods: {
            init: function() {
                let adjective = Sentencer.make("{{ adjective }}");
                const emoji = RandomEmoji.random();

                while(!emoji.key.startsWith(adjective[0])) {
                    adjective = Sentencer.make("{{ adjective }}")
                }

                const name = adjective + " " + emoji.key;

                //const user = { "name" : clientUuid, "emoji" : emoji.emoji};

                this.document.currentUser = {"name" : name, "emoji": emoji.emoji};
                this.document.users.push(this.document.currentUser);

                const user = new User();
                user.setName(adjective);
                user.setUserId(name);
                user.setIcon(emoji.key);

                this.connect(user, false);

                /*stream.on('status', function(status) {
                    console.log("status")
                    console.log(status.code);
                    console.log(status.details);
                    console.log(status.metadata);
                });*/

            },
            connect: function (user, reconnection) {
                const connectionRequest = new UserConnectionRequest();
                connectionRequest.setDocumentId(this.roomID);
                connectionRequest.setConnectingUser(user);
                const stream = this.client.connect(connectionRequest, {});

                stream.on('data',(res) => {
                    const document = res.getInitialDocumentContent();
                    this.document.name = document.getName();
                    this.document.text = document.getContent();

                    this.document.users = [];

                    res.getConnectedUsersList().forEach((user) => {
                        this.document.users.push({
                            "name": user.getUserId(),
                            "emoji": RandomEmoji.get(user.getIcon())
                        });
                    });

                });

                const that = this;
                stream.on('end', function(end) {
                    // establish stream here
                    console.info("reconnection here");
                    that.connect(user, true);
                })
            },

            textChange: function (text) {
                const req = new TextChangedRequest();
                req.setRoomid(this.roomID);
                req.setDocumentContent(text);
                this.client.textChanged(req, {}, (err, res) => {
                    if (err) {
                        console.error(err);
                    }
                    console.log("updated document content")
                });
            },
            insertBold: function () {
                this.insert(' **Bold** ');
            },
            insertItalic: function () {
                this.insert(' *Italic* ');
            },
            insertStrikethrough: function () {
                this.insert(' ~~Strikethrough~~ ');
            },
            insertList: function () {
                this.insert('* Item\r\n' +
                    '* Item\r\n' +
                    '* Item\r\n');
            },
            insertCode: function () {
                this.insert('```\r\npublic void ungarn(){\n' +
                    '    println(\'hansi\');\n' +
                    '}\r\n```');
            },
            insertTable: function () {
                this.insert("| Tables        | Are           | Cool  |\n" +
                    "| ------------- |:-------------:| -----:|\n" +
                    "| col 3 is      | right-aligned | $1600 |\n" +
                    "| col 2 is      | centered      |   $12 |\n" +
                    "| zebra stripes | are neat      |    $1 |\n")
            },
            insert: function (text) {
                const textarea = this.$refs.text;
                const startPos = textarea.selectionStart;
                const endPos = textarea.selectionEnd;

                //insert text
                this.document.text = this.document.text.substring(0, startPos) +
                text + this.document.text.substring(endPos, this.document.text.length);

                // trigger text change
                this.textChange(this.document.text)
            },
            save() {
                //this.$socket.emit("saveDocument", {"content": this.document.text, "name": this.document.name});
            },
            print() {
                this.$htmlToPaper('print', () => {
                    console.log('Printing done or got cancelled!');
                });
            },
            updateDocumentName: function(name){
                this.document.name = name;

                const req = new UpdateDocumentRequest();
                req.setName(name);
                req.setDocumentid(this.roomID);

                this.client.updateDocumentName(req, {}, (err, res) => {
                    if (err) {
                        console.error(err);
                    }

                    console.log("updated document name");
                });
            },
            jumpTo: function(lineNumber){

            }

        }
    }
</script>

<style scoped>
    .document {
        height: 100vh;
    }

    .wrapper {
        padding: 8px 0;
    }

    .editor-wrapper{
        /* 100% - (toolbar height + documentinfo height + documentinfo padding + edtior padding)*/
        height: calc(100% - (42px + 52px + 16px + 16px));
    }

    .editor{
        border-right: 1px solid lightgrey;
    }

    .editor textarea {
        margin: 0;
        height: 100%;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        padding: 16px;
        border: none;
        resize: none;
        outline: none;
        font-size: 18px;
        display: inline-block;
        width: 50vw;
        vertical-align: top;
        box-sizing: border-box;
        background: #f6f6f6;

    }
</style>
