<template>
    <div class = "toc">
        <ul v-if="table.length > 0" v-for="elements in table" class = "list">
            <li v-html="elements.head.text" v-on:click="jumpTo(elements.head.line)"></li>
            <ul v-if="elements.subHeads.length > 0" v-for="sub in elements.subHeads" class = "sub-list">
                <li v-html="sub.text" v-on:click="jumpTo(sub.line)"></li>
            </ul>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "TableOfContents",
        props: {
            text: String
        },
        data: () => {
            return {
                table: []
            }
        },
        methods: {
            setTable: function(){
                this.table = [] //clear table

                const lines = this.text.split('\n');
                var currHead = -1;

                lines.forEach((line, i) => {
                    if(line.match('^(# \\w*)')){ //match lines starting with # and having text afterwards
                        this.table.push({
                            head: {
                                text: line.substring(2,line.length),
                                line: i
                            },
                            subHeads: []
                        })
                        currHead++;
                    }else if(line.match('^(## \w*)') && currHead >= 0){ //match sublines if head is already set
                        this.table[currHead].subHeads.push(
                            {
                                text: line.substring(3,line.length),
                                line: i
                            })
                    }
                });
            },
            jumpTo: function(lineNumber) {
                this.$emit('jumpTo', lineNumber)
            }

        },
        watch: {
            text: function(newVal, oldVal){
                this.setTable();
            }
        }
    }
</script>

<style scoped>
    .toc{
        background: white;
        padding: 32px 0 32px 32px;
        width: 224px;
        box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.05);
        z-index: 5;
        margin-right: 16px;
        overflow-y: auto;
    }

    ul{
        margin: 0;
    }

    .list{
        margin: 0 0 16px 0;
        padding: 0;

    }
    .list li{
        margin: 0 0 2px 0;
        color: black;
        list-style-type: none;
        font-family: Helvetica;
    }

    .list > li{
        font-weight: bolder;
    }

    .sub-list li:before{
        content: '-';
        margin: 0 6px 0 0;
    }

    .sub-list > li{
        font-weight: lighter;
    }

    .sub-list{
        padding-left: 8px;
    }
</style>